.myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#palette, #toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 250px;
    background: grey;
}

.colorSelectBtn {

    width: 10px;
    height: 20px;
}
#currentColor {
    
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border-color: black;
}

#colorPalette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

